@import "./Colors.scss";

.form-input {
  margin: 15px;
  padding-top: 10px;
}
.title {
  align-self: center;
  font-weight: 700;
  color: $theme-color;
}

.add-button {
  width: 200px;
}

.alert {
  display: none;
  transition: all 0.5s;
}
