@import "./Colors.scss";

.car-image {
  margin-right: 30px;
}
.bodyy {
  flex-direction: row;
  background-image: url("../images/car-params-pattern.jpg");
}
.car-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .car-descr {
    margin-top: 15px;
    padding: 15px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
  }
}
.car-params {
  margin-top: 40px;
}
.table-theme {
  background-color: $theme-color;
  color: white;
}

@media(max-width: 790px){
  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .car-descr{
      max-width: 90%;
    }
    .car-image{
      margin: 0;
    }
    .col-6{
      max-width: 100%;
      padding:1px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .car-info{
      display: block;
    }
    .table{
      width: 100%;
      th{
        max-width: 160px;
      }
    }
  }
}

