.background-header {
  background-image: url("../images/background-pattern.jpg");
  height: 160px;
  z-index: -9999;
  padding: 0;
  .logo-div {
    margin: 0;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.logo {
  display: block;
  height: 150px;
  width: auto;
}

.bg-red {
  background-color: #580909;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign-button {
  display: block;
  position: absolute;
  right: 15px;
  top: 65px;
}

@media (min-width: 800px) {
  .signout-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    top: 35px;
    color: white;
    .spinner-block{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

@media (min-width: 0px) and (max-width: 799px) {
  .signout-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 65px;
    color: white;
    h5 {
      display: none;
    }
    .spinner-block{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
